body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-contacts {
 display: flex;
 flex-direction: column;
 max-height: 700px;
 overflow: scroll;
 border: 1px solid #DDD;
}

.container-contacts ul.contact {
  padding: 10px;
}

.container-contacts ul.contact:nth-of-type(2n) {
  background-color: #CCC
}

.container-contacts ul.contact:nth-of-type(2n+1) {
  background: #FFF
}

.listTickets .new {
  background-color: lightgreen;
}

.listTickets .rejected {
  background-color: lightsalmon;
}

.ticket li,
.listTickets li {
  padding: 10px;
}