<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercices Sugar CRM</title>
  <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <h1>Exercices techniques</h1>
  <!-- Exercice 1 : récupération du token -->
  {% include 'token.twig.html' %}
  <!-- Exercice 2 : récupération de la liste des contacts qui contiennent -->
  {% include 'listContacts.twig.html' %}
  <!-- Exercice 3 : liste des tickets non clos du premier contact -->
  {% include 'listTickets.twig.html' %}
  <!-- Exercice 4 : Ajout d'un ticket -->
  {% include 'newTicket.twig.html' %}
</body>
</html>