<h2>Liste des tickets du premier contact</h2>
<p>Nombre de tickets trouvés : {{ tickets|length }} </p>  
{% if premierContact is defined %}
<p>(Rappel premier contact : {{ premierContact.first_name }} {{ premierContact.last_name }})
</p>
{% endif %}
<ul class="listTickets">
  {% for ticket in tickets %}
    <li class="{{ ticket.status|lower|replace({' ': ''}) }}">{{ ticket.id }} :: {{ ticket.name }} ({{ ticket.status }})</li>
  {% endfor %}
</ul>