<h2>Liste des contacts</h2>
<p>Récupérer la liste des contacts (nom, prénom, adresse, email) dont le prénom contient « a » ou le nom contient « b »</p>  
<p>Nombre de contacts trouvés : {{ contacts|length }} </p>  
<div class="container-contacts">

{% for contact in contacts %}
    <ul class="contact">
    <li>Nom : {{ contact.last_name }}</li>
    <li>Prénom : {{ contact.first_name }}</li>
    <li>Adresse : {{ contact.primary_address_street }}<br>
      {{ contact.primary_address_street_2 }}<br>
      {{ contact.primary_address_city }} 
      {{ contact.primary_address_postalcode }} 
    </li>
    <li>Email(s):
      {% for email in contact.email %}
        <p>{{ email.email_address }}</p>
      {% endfor %}    
    </li>
  </ul>
{% endfor %}
</div>