<h2>Nouveau ticket ajouté</h2>
<ul class="ticket">
  <li>Id :{{ newticket.id }}</li>
  <li>Nom :{{ newticket.name }}</li>
  <li>Date ajout : {{ newticket.date_entered|date("d/m/Y H:i:s") }}</li>
</ul>